<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    	<string>com.wwg.js-cgi</string>
    <key>UserName</key>
		<string>zstibosc</string>
    <key>KeepAlive</key>
    	<true/>
    <key>Program</key>
    	<string>/Volumes/san/apps/js-cgi/js-cgi.sh</string>
	<key>Nice</key>
		<integer>20</integer>
    <key>StandardErrorPath</key>
  		<string>/Volumes/san/apps/js-cgi/err.log</string>
  </dict>
</plist>
